:root {
  --main-blue-color: #114ef7;
  --main-white-color: #fff;
  --main-grey-color: #f6f6f6;
  --main-black-color: #2a2b2e;
  --main-darkergrey-color: rgba(14, 15, 17, 0.7);
}
/******************************************** navbar styles **************************************************/
.navbar-cont {
  padding: 1rem;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: xx-large;
  cursor: pointer;
  font-weight: 600;
}
.navbar-element-cont {
  display: flex;

  font-weight: 400;
}
.element {
  margin: 0 1rem;
  cursor: pointer;
}
.element:hover {
  text-decoration: underline;
}
.signinbtn {
  font-weight: 400;
}
.navbar-login-cont {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.book-btn {
  border: 1px solid var(--main-blue-color);
  padding: 0.8rem;
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
}
.book-btn:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  transition-duration: 0.3s;
}
/* #########################################################-- main page-- #######################################*/

/********************************************************* block1 styles *********************************************/

.block1-cont {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  min-width: 100%;
  max-width: 100%;
}

.block1-text-cont {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block1-img-cont {
  padding: 1rem;
  width: 40%;
}
.block1-glass {
  top: 20%;
  width: 236px;
  height: 200px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1%;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.block1-glass img {
  margin-left: 1.5rem;
}
.block1-big-header {
  font-size: 70px;
  line-height: 1.3;
  font-weight: 800;
}
.colored {
  color: var(--main-blue-color);
}

.block1-input-cont {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}
.block1-input {
  width: 300px;
  height: 52px;
}
.block1-input-btn {
  margin-left: 7px;
  height: 50px;
  background-color: var(--main-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white-color);

  font-weight: 400;
  width: 143px;
  height: 57px;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
}
.block1-input-btn:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  transition-duration: 0.3s;
}
/****************************************************** block2 styles***************************************** */
.block2-cont {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  padding: 1%;
}
.block2-trustedby {
  font-weight: 200;
  margin-top: 1%;
}
/* *********************************************** block3 styles ******************************** */
.block3-cont {
  max-width: 100%;
  margin-top: 4rem;
  padding: 4%;
}
.block3-big-header {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5rem;
}
.block3-images-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/****************************************************** SmallCardMain styles********************************************* */
.SmallCardMain-cont {
  max-width: 242px;
}
.SmallCardMain-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 242px;
}
.SmallCardMain-text {
  font-weight: 200;
}
.SmallCardMain-title {
  font-size: 23px;
  margin: 10px 0;
}
.SmallCardMain-tryit {
  color: var(--main-blue-color);
  margin: 10px 0;
  cursor: pointer;
}
/****************************************** block4 ****************************************** */
.block4-cont {
  height: 60vh;
  background-color: var(--main-grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}
/******************************************* block5 **********************************/
.BigFlexCard-cont {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}
.BigFlexCard-text-cont {
  display: flex;
  flex-direction: column;
  text-align: left;

  justify-content: center;
}
.BigFlexCard-text-title {
  font-size: 32px;
}
.BigFlexCard-text-blue {
  color: var(--main-blue-color);
}
.BigFlexCard-text-list {
  margin-top: 32px;
  margin-left: 32px;
}
.BigFlexCard-text-btn-cont {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.BigFlexCard-text-btn-cont > span {
  margin-left: 12px;
}
/* .block5-cont:nth-child(even){
    flex-direction: row-reverse;
} */
.BigFlexCard-cont-rev {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  flex-direction: row-reverse;
}
/* *******************************block6 styles ******************************** */
.block6-cont {
  height: 60vh;
  background-color: var(--main-grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}
/* *********************************** footer styles**************************** */
.footer-joinwork {
  padding: 3%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-joinwork-text {
  display: flex;
  flex-direction: column;
}
.footer-joinwork-header {
  font-size: 60px;
  font-weight: 800;
}
.footer-joinwork-header-blue {
  color: var(--main-blue-color);
}
.footer-joinwork-input {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-input {
  width: 29rem;
  height: 52px;
}
.footer-sep {
  width: 100%;
  height: 3px;
  background-color: var(--main-grey-color);
  max-width: 100%;
}
.footer-info {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}

.first {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
  justify-content: space-around;
}
.footer-social-img {
  margin-top: 25px;
}
.footer-first-text {
  margin: 10px 0;

  color: var(--main-darkergrey-color);
}
.second {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
  justify-content: space-around;
  line-height: 1;
}
.second-element {
  color: var(--main-darkergrey-color);
}
.sltitle {
  color: var(--main-black-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.third {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
  justify-content: space-around;
  line-height: 1;
}
.forth {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;

  line-height: 1;
}
.footer-inp-cont {
  margin-top: 8%;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column;
}

.block4-input-cont {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  border: 1px solid grey;
}
.footer-last-inp {
  width: 15rem;
  height: 45px;
  outline: none;
  border: none;
}
.block4-input-btn {
  height: 50px;
  background-color: var(--main-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white-color);

  font-weight: 400;
  width: 50px;
  height: 52px;

  white-space: nowrap;
  cursor: pointer;
}
/* ##############################################--who is it for styles--################################ */

/*****************************block1******************************  */
.who-block1-cont {
  margin-top: 3rem;
}
.who-block1-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 3%;
}
.who-block1-services {
  margin: 1rem 0;
}
.who-block1-services span {
  margin: 0 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.who-block1-p {
  margin-top: 2rem;
  color: var(--main-darkergrey-color);
}
.who-block1-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 10rem;
}
.who-bookbtn {
  background-color: var(--main-blue-color);
  width: 10rem;
  height: 3.5rem;
  color: var(--main-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.who-trialbtn {
  color: var(--main-blue-color);
  margin-left: 25px;
  cursor: pointer;
}
.who-bookbtn:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  transition-duration: 0.3s;
}
/* ********************** block2********************** */
.whoelement-title {
  font-size: 3rem;
  font-weight: 700;
}
.whoelement-card {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  margin: auto;
  width: 70%;
}
.whoelement-card-reverse{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 5%;
  margin: auto;
  width: 70%;
}
.whoelement-text {
  text-align: left;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.whoelement-card-text-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.whoelement-card-text-p{
  color: var(--main-darkergrey-color);
}